.button {
  font-family: @oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 40px;
  background-color: @basic_green;
  color: @white;
  text-transform: uppercase;
  border: none;
}
