.can-image {
  position: absolute;
  top: 167px;
  left: 20px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    top: 221px;
    left: 30px;
  }

  @media (min-width: @desktop-width) {
    top: 141px;
    left: 448px;
  }
}
