.can-image {
  position: absolute;
  display: block;
  margin: auto;
  transform: translateY(-100%);

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    position: relative;
    transform: none;
  }
}
