.catalog__main-heading {
  font-family: @oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.catalog__more {
  height: 208px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.catalog__more-heading {
  font-family: @oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @black;
  text-align: center;
}

.catalog__more-text {
  font-family: @arial;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  text-align: center;
}

.catalog__gift {
  width: 280px;
  height: 289px;
  background: url("../img/gift-photo-mobile.jpg");
}

.catalog__gift-icon {
  margin-left: 101px;
  margin-top: 58px;
}

.catalog__gift-text {
  display: block;
  width: 161px;
  font-family: @arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
  margin-top: 48px;
  margin-left: 58px;
}
