.example {
  background-color: @background-grey;
}

.example__header {
  font-family: @oswald;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.example__fact-big {
  font-family: @oswald;
  font-size: 24px;
  line-height: 24px;
}

.example__fact-small {
  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
}

.example__text-bold {
  font-family: @oswald;
  font-size: 14px;
  line-height: 20px;
}

.example__slider-text {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
}
