.features {
  @media (min-width: @tablet-width) {
    min-height: 781px;
    border-bottom: 1px solid #E6E6E6;
  }

  @media (min-width: @desktop-width) {
    border: none;
    min-height: 567px;
  }
}

.features__header {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  list-style: none;
  padding-left: 80px;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {

  }
}

.features__list-item {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  padding: 13px;

  @media (min-width: @tablet-width) {
    width: 230px;
    height: 280px;
  }
}
