.features {
  height: 418px;

  @media (min-width: @tablet-width) {
    height: 736px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    height: 383px;
  }
}

.features__header {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin-top: 27px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 71px;
  }
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: section;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.features__list-icon1 {
  background-image: url(../img/icon-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.features__list-icon2 {
  background-image: url(../img/icon-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.features__list-icon3 {
  background-image: url(../img/icon-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.features__list-icon4 {
  background-image: url(../img/icon-4.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.features__list-icon1,
.features__list-icon2,
.features__list-icon3,
.features__list-icon4 {
  position: absolute;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 80px;
    height: 80px;
  }
}

.features__list-text {
  margin: 0;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    width: 245px;
    padding-left: 0;
    padding-top: 25px;
  }
}

.features__list-break {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.features__list-item {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
  height: 60px;
  display: flex;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: block;
    width: 250px;
    height: 280px;
    padding: 0;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.features__list-item::after {
  @media (min-width: @tablet-width) {
    counter-increment: section;
    content: counter(section);
    font-family: @oswald;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: @basic_grey;
    position: absolute;
    top: -37px;
    right: 0;
    z-index: -1;
  }
}

.features__list-item:first-of-type {
  @media (min-width: @tablet-width) {
    width: 230px;
  }
}

.features__list-item:nth-of-type(2) {
  @media (min-width: @tablet-width) {
    margin-left: 154px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 21px;
    width: 246px;
  }
}

.features__list-item:nth-of-type(4) {
  @media (min-width: @tablet-width) {
    margin-left: 134px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    width: 250px;
  }
}
