.form-page__main-heading {
  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-top: 64px;
    margin-bottom: 54px;

    @media (min-width: @desktop-width) {
      margin-top: 187px;
      margin-bottom: 56px;
    }
  }
}

.form-page__top-text {
  font-family: @oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-top: 0;
    margin-bottom: 54px;

    @media (min-width: @desktop-width) {
      margin-bottom: 66px;
    }
  }
}
