.form__item {
  font-family: @oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
}

.form__radio {
  height: 157px;
  border-top: 1px solid @border-grey;
  border-bottom: 1px solid @border-grey;
}

.form__radio-item {
  font-family: @oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
}

.form__heading {
  font-family: @oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}

.form__checkbox {
  list-style: none;
  padding: 0;
}

.form__bottom-text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
