.page-header {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 470px;
    height: 78px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1330px;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 0;
  }
}
