.page-footer__info {
  width: 280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: auto;
    height: 201px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 2;
    width: 570px;
    margin-top: 95px;
    margin-left: 110px;
  }
}

.page-footer__info-main {
  background-color: @white;
}

.page-footer__info-left {
  font-family: @oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 140px;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
    padding-right: 295px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    padding-left: 76px;
    padding-right: 0;
  }
}

.page-footer__info-right {
  font-family: @arial;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey;
  width: 140px;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 159px;
  }

  @media (min-width: @desktop-width) {
    width: 155px;
    padding-right: 89px;
  }
}

.page-footer__container {
  width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1440px;
  }
}

.page-footer__map {
  width: 320px;
  height: 362px;

@media (min-width: @tablet-width) {
  width: 768px;
  height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.page-footer__background {
  background-color: @basic_grey;
}

.page-footer__contacts {
  height: 236px;

  @media (min-width: @tablet-width) {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__contacts-logo {
  margin-left: 76px;
  margin-top: 39px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.page-footer__social {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid @border-grey;
  border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.page-footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;

  @media (min-width: @tablet-width) {
    width: 163px;
    margin-right: 31px;
  }
}

.page-footer__academy-text {
  font-family: @arial;
  color: @special_dark-grey;
  font-size: 16px;
  font-weight: normal;
  line-height: 18.4px;
}
