.container {
  width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: auto;
  }
}

.container--form {
  width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 630px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: auto;
  }
}

.container__overflow {
  overflow-x: hidden;
}
